<h1><%= @cocktail.name %></h1>

<h3>Ingredients:</h3>
<ul>
  <% @ingredients.each do |i|  %>
    <li><%= i.name %></li>
  <% end %>
</ul>


<h3>Doses:</h3>
<h3>Cocktail | Ingredient</h3>
<ul>
  <% @doses.each do |i|  %>
    <li><%= Ingredient.find(i.ingredient_id).name %> | <%= i.description %></li>
    <%= link_to "Remove dose",
                  dose_path(i),
                  method: :delete%>
  <% end %>
</ul>

<button type="button" class="btn btn-success"><%= link_to "Make a dose for this cocktail", new_cocktail_dose_path(@cocktail) %></button>
<button type="button" class="btn btn-danger"><%= link_to "Go back", cocktails_path %></button>
