<h1><%= @cocktail.name %></h1>

<h3>Ingredients:</h3>
<ul>
  <% @ingredients.each do |i|  %>
    <li><%= i.name %></li>
  <% end %>
</ul>


<h3>Doses:</h3>
<h3>Cocktail | Ingredient</h3>
<ul>
  <% @doses.each do |i|  %>
    <li><%= Cocktail.find(i.cocktail_id).name %> | <%= Ingredient.find(i.ingredient_id).name %></li>
    <%= link_to "Remove dose",
                  dose_path(i),
                  method: :delete%>
  <% end %>
</ul>

<%= link_to "Make a dose for this cocktail", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Go back", cocktails_path %>
